{% extends "base.html" %}

{% block content %}
    <div class="options-container">
        <span> <h1>OPCJE </h1></span>
        <div class="menu-options-container">
            <a href="{{ url_for('main.add_emu') }}">
                <div class="menu-options-item"><span>Dodaj Emulator </span></div>
            </a>

            <a href="{{ url_for('main.options_edit') }}">
                <div class="menu-options-item"><span>Opcje Emulatorów </span></div>
            </a>

            <a href="#">
                <div class="menu-options-item"><span>Inne Opcje </span></div>
            </a>
        </div>
    </div>

{% endblock %}