{% extends "base.html" %}



{% block navbar %}


{% endblock %}




{% block content %}


	<div class="menu-container">
		<a href="#">
			<div class="menu-item">
				<span class="menu-item-text">Zagraj !!!</span>
				<div class="menu-item-dropdown">
					<span>Wybierz Emulator i Grę. Aby zacząc grać musisz posiadać zaimportowany emulator i ROMy. Jeśli nie posiadasz zaimportowanego emulatora, kliknij "Konfiguracja" i tam wybierz "Dodaj Emulator"</span>
				</div>

			</div>
		</a>


		<a href="{{ url_for('options.home') }}">
			<div class="menu-item">
				<span class="menu-item-text">Konfiguracja</span>
				<div class="menu-item-dropdown">
					<span>Opcje konfiguracyjne Emulatorów. Możesz tu dodawać i edytować Emulatory. UWAGA !!! Jeśli chcesz żeby Emulator został prawidłowo dodany, musisz najpierw posiadać go zainsatlowanego w swojim systemie. Jeśli nie wiesz czy masz to wróć na stronę główną i wybierz "SYSTEM"</span>
				</div>

			</div>
		</a>

		<a href="#">
			<div class="menu-item">
				<span class="menu-item-text">Inne Opcje</span>
				<div class="menu-item-dropdown">
					<span>Jakieś inne opcje</span>
				</div>

			</div>
		</a>


	</div>

{% endblock %}
