{% extends "base.html" %}


{% block content %}

	<div class="options-container">
        <span> <h1>{{ emu.name }}</h1></span>
        <span> <h2>{{ emu.system }}</h2></span>
        <div class="menu-options-container">
            <a href="{{ url_for('main.start_game', name=emu.name) }}">
                <div class="menu-options-item"><span>Graj !!!</span></div>
            </a>

            <a href="{{ url_for('main.start_emu_option', name=emu.name) }}">
                <div class="menu-options-item"><span>Opcje </span></div>
            </a>

            <a href="#">
                <div class="menu-options-item"><span>Inne Opcje </span></div>
            </a>
        </div>
    </div>


{% endblock %}