{% extends "base.html" %}

{% block content %}
    <div id="system-container">
        <h1> System: {{ emu.system }} </h1>
        <form action="" method="POST">
            <button type="submit" name="nm" value="roms_scan"> SKANUJ </button>
            <h2> Wybierz Grę </h2>
            <div id="play-game">
                {% for game in emu.rom_list %}
                    <p>
                        <button type="submit" name="nm" value="{{ game }}"/> {{ game }}
                    </p>

                {% endfor %}

            </div>
        </form>
    </div>

{% endblock %}