<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <title>ChusonBox 2</title>
</head>
<body>
    


    <div id="main-screen">
            <img src="{{ url_for('static', filename='img/back11.jpg') }}" id="main-img" />

        </div>

        <div id="main-container">
            
            <div id="logo-container">
                <div id="logo">Chuson Box 2</div>
                <span> ver. 2.2 </span>
            </div>

            <div id="start-menu">
                <a href="{{ url_for('main.home') }}"><div class="start-menu-item">START</div></a>
                <a href="#"><div class="start-menu-item">SYSTEM</div></a>
            </div>

    </div>









</body>
</html>